<h1>Pages#contact</h1>

<p><%= number_to_phone "2344563223" %></p>

<p><%= number_to_currency "132450" %></p>

<p><%= number_to_percentage "15.64" %></p>

<p><%= number_with_delimiter "152344343643646" %></p>